<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>Editar Obra - Museu Virtual</title>
</head>
<body class="Editar">
    <div class="container">
    <h1 >Editar Obra</h1>
    <% if (errors.length > 0) { %>
      <div>
        <% errors.forEach(error => { %>
          <p><%= error %></p>
        <% }) %>
      </div>
    <% } %>
    <form action="/obrasdearte/<%= painting.id %>?_method=PUT" method="POST">
      <div>
        <label class="block text-sm font-medium text-gray-700" for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="<%= painting.nome %>" required maxlength="45">
      </div>
      <div>
        <label>Artista</label>
        <input type="text" name="artista" id="artista" value="<%= painting.artista || '' %>" maxlength="45">
      </div>
      <div>
        <label for="ano">Ano</label>
        <input type="number" name="ano" id="ano" value="<%= painting.ano %>" required>
      </div>
      <button type="submit" class="glow-on-hover">Atualizar</button>
      <a href="/">Cancelar</a>
    </form>
    <div>
      <img src="<%= painting.urlimagem %>" alt="<%= painting.nome %>">
    </div>
  </div>
</body>
</html>