<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musel virtual</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>

<body class="home">
    <h1>Rota principal</h1>
    <a href="/tarsila"><button class="glow-on-hover">Ir para tarsilia</button></a>
    <a href="/portinari"><button class="glow-on-hover">Ir para Portinari</button></a>

    <div class="container">
        <h1>Museu Virtual</h1>
        <div>
            <% for (let i=0; i<paintings.length; i++) { %>
                <div>
                    <label for="id_obradearte">ID da Obra de Arte: <%= paintings[i].id %></label>
                    <div>
                        <img src="<%= paintings[i].urlimagem %>" alt="<%= paintings[i].nome %>" />
                    </div>
                    <div>
                        <a href="/obradearte?idobra=<%= paintings[i].id %>">
                            <%= paintings[i].nome %>
                        </a>
                        <p>
                            <%= paintings[i].artista %>
                        </p>
                        <a href="/obrasdearte/<%= paintings[i].id %>/edit">Editar</a>
                    </div>
                </div>
                <form action="/enviamensagem" method="post">
                    <label for="comentary">Comentário:</label>
                    <input type="text" id="comentary" name="comentary" placeholder="Digite seu comentário..." required />
                    
                    <label for="id_obradearte">Obra: <%= paintings[i].id %></label>
                    <input type="hidden" id="id_obradearte" name="id_obradearte" value="<%= paintings[i].id %>" required />
                    
                    <button type="submit" class="glow-on-hover">Enviar</button>
                </form>
                <hr />
            <% } %>
        </div>
    </div>
</body>

</html>