<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Museu Virtual</title>
</head>
<body class="ShowPainting">
    <a href="/home"><button class="glow-on-hover">Voltar</button></a>
    <div>
        <h2>Obra <%= painting[0].nome %></h2>
        <div>
            <div>
                <img src="<%= painting[0].urlimagem %>"" alt="<%= painting[0].nome %>">
                <div>
                    <h5><%= painting[0].nome %></h5>
                    <p><%= painting[0].artista %></p>
                </div>
            </div>
            <hr />
        </div>
    </div> 
</body>
</html>